html,
body {
  padding: 0;
  margin: 0;
  font-family:
    Inter,
    -apple-system,
    BlinkMacSystemFont,
    Segoe UI,
    Roboto,
    Oxygen,
    Ubuntu,
    Cantarell,
    Fira Sans,
    Droid Sans,
    Helvetica Neue,
    sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

.container {
  min-height: 100vh;
  /* font-family:sans-serif, */
  padding-top: 10vh;
  width: 90%;
  margin: auto;
}
.propertyCard{
  display: flex;
  flex-direction: column;
  gap: 10px;
  min-height: 270px;
  min-width: 200px;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 1px 2px 5px 1px;
  align-items: center;
  background: #fff;
}