.root {
   
    overflow: hidden;
    background-color: #fff;
    position: fixed;
    top: 0px;
    width: 100%;
    left: 0px;
    height: 2.5rem;
    box-shadow: 0px 0px 10px 0px;
    display: flex;
    padding: 20px;
    justify-content: space-around;
  }
  ._ul{
    list-style-type: none;  
    margin: 0;
    padding: 0;
    width: 60%;
  }
  
  .listItem {
    float: left;
  }
  
  .listItem a {
    display: block;
    color: rgb(115, 76, 76);
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    min-width: 70px;
  }
  
  .listItem a:hover {
    font-size: 18px;
    // background-color: #111;
  }
  .buttonBox{
    background-color: rgb(0, 166, 255);
    height: 40px;
    width: 100px;
    align-items: center;
    display: flex;
    justify-content: center;
    justify-content: center;
    color: #fff;
    border-radius: 5px;
  }
  .rightContentBox{
    display: flex;
    gap: 30px;
    align-items: center;
  }